body {
  font-family:'Libre Baskerville', serif;
  background-color: #FFFFFF;
  color: #000000;
  height: 100%;
  width: 100%;
  margin: 0;
}

.spacer{
  height: 10vh;
}

.title {
  position: relative;
  margin-left: 7%;
  margin-top: 50vh;
  margin-bottom: 45vh;
  color: #A10217;
  font-style: bold;
  font-size: 150px;
  line-height: 0.715em;
  white-space: pre-line;
}

.content{
  position: relative;
  margin-left: 7%;
  margin-right: 25%;
  color: #000000;
}

.content.poem{
  margin-top: 75vh;
  margin-bottom: 75vh;
  text-align: center;
}

#lighght{
  text-align: center;
}

#mmm{
  height:30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#oyster{
  padding-left: 40%;
  padding-right: 5%;
  text-align: left;
  line-height: 1.4em;
  white-space: pre-line;
}

#street-title{
  padding-left: 15%;
  padding-right: 25%;
  text-align: left;
  white-space: pre-line;
}

#street-body{
  padding-left: 35%;
  padding-right: 0;
  text-align: left;
  line-height: 1.4em;
  white-space: pre-line;
}

#night{
  text-overflow: clip;
  width: 100vw;
  text-align: center;
  left: -4ch;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2ch;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 75vh;
  margin-bottom: 50vh;
}


background{
  position:fixed;
  left:0;
  top:0;
  z-index:-1;
  width: 100%;
  height: 100%;
  margin : 0px;
  padding : 0px;
  border : 0px;
  background-color : transparent;
}

#crickets {
  text-align: right;
  position: relative;
  right: 12%;
  top: -2.8em;
  white-space: pre-line;
}